.airqualities{
    width: 450px;
    height: 214px;
    background-color: var(--card);
    
   
    padding: 25px 20px;
    border-radius: 15px;
    overflow-y: scroll;
    scrollbar-width: none;

}
.air2{
    padding: 0px 20px;
     gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.airqualities::-webkit-scrollbar {
  display: none;
}
.chart{
    margin-right: 33px ;
}
.extras{
    display: flex;
    gap: 30px;
}
.compass{
    background-color: var(--accent);
    padding: 25px;
    /* height: 80px; */
    border-radius:15px;
}
@media(max-width:750px){
        .airqualities{
        width: 100%;
         padding: 10px 10px;
         font-size: 19px;
           height: 200px;
    }
  
}
@media (min-width: 768px) and (max-width: 1024px) {

  .airqualities {
    width: 100%;
    height: 200px;
    padding: 16px 14px;
  }

  .air2 {
    padding: 0 14px;
    gap: 16px;
  }

  .extras {
    gap: 20px;
  }

  .chart {
    margin-right: 20px;
  }

  .compass {
    padding: 18px;
  }
}