:root {
  --bg: #fff7e8;
  --card: #ffd8a8;
  --text: #3e2c00;
  --accent: #f5a42c;
}

/* Light Theme */
body.light {
  --bg: #fff7e8;
  --card: #ffd8a8;
  --text: #3e2c00;
  --accent: #ee8f00b4;
}

/* Dark Theme */
body.dark {
  --bg: #0c0a1a;
  --card: #2b254a;
  --text: #e6e6fa;
  --accent: #a58fe3be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* border: 2px solid red; */
}

.container {
  width: 100%;
  /* height: 100vh; */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  position: static;
  padding: 14px 20px;
}
.main {
  width: 80%;
  color: var(--text);
  /* border: 2px solid red; */
  position: relative;
  height: 80%;
  /* overflow: hidden; */
  /* padding: 5px ; */
}
.positon-nav {
  height: 100%;
  position: fixed;
  top: 20px;
}
.main-section {
  margin-left: 100px;
  /* margin-top: 10px; */
  width: 95%;
  /* padding: 10px; */
  position: relative;
  top: 0;
  /* border: 2px solid red; */
}
.main-main-section {
  /* margin-top: -5px; */
  padding: 10px 10px;
  position: relative;
 display: flex;
  /* justify-content: space-between; */
  gap: 15px;
   /* border: 2px solid blue; */
}
.layout{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.layout2{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fade {
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
@media (max-width:750px){
  .container{
    overflow: scroll;
    /* border: 3px solid green; */
  }
  .main-section{
    margin-left: -32px;
    width: 80%;
    /* border: 2px solid red; */
    width: 369px;

  }
  .main-main-section{
    flex-direction: column;
    gap: 10px;
    /* padding: 100px; */
    margin-bottom: 50px;
     /* border: 2px solid blue; */
     padding: 10px 0px;
  }
  .positon-nav{
    position: static;
    height: auto;
    z-index: auto;
  }
}
 @media (min-width: 765px) and (max-width: 1026px) {

  .container {
    padding: 110px 0px;
  }

  .main {
    width: 90%;
    margin-right: 50px;
    margin-top: 170px;
  }

  .positon-nav {
    position: fixed;
    top: 285px;
    height: 478px;
  }

  .main-section {
    margin-left: 40px; 
    width: 92%;
  }

  .main-main-section {
    gap: 12px;
}

  .layout,
  .layout2 {
    gap: 12px;
    width: 360px;
  }
} 
@media (min-width: 1020px) and (max-width: 1067px){

  .container {
    padding: 150px 100px;
  }
   .positon-nav {
    position: fixed;
    top: 325px;
   }
}
@media (max-width:395px){
  .main-section{
    margin-left: -49px;
    /* border: 2px solid red; */
  
  }

}
@media (max-width:365px){
  .main-section{
    margin-left: -39px;
    /* border: 2px solid red; */
      width: 355px;
  }
  .container{
    padding: 10px 0px;
  }

}
@media (min-width: 520px) and (max-width: 590px){
.main-section{
  margin-left:15px;
}
}
@media (min-width: 1300px) {
  .positon-nav{
    height: 550px;
    top: 400px;
  }
  .container{
    padding: 400px 100px;
  }
}
@media (width: 360px) {
.main-section{
  margin-left:-34px;
}
}