.today{
    width: 28.125rem;
    background-color: var(--card);
    height: 13.375rem;
    padding: 18px 20px;
    border-radius: 15px;
    font-size: 19px;
}
.headoftheday{
    display: flex;
    justify-content: space-between;
}
.place{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temptoday{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    padding: 10px;
    margin-top: -20px;
    color: var(--accent);
     margin-top: 5px;
}
.footeroftheday{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.highandlow{
    display: flex;
    gap: 10px;
}

@media(max-width:750px){
    .today{
        width: 100%;
         padding: 10px 10px;
         font-size: 19px;
           height: 200px;
    }
    .highandlow{
        flex-direction: column;
        gap: 1px;
         margin-top: -15px
    
    }
    .footeroftheday{
        margin-top: 1px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

  .today {
    width: 100%;         
    height: 200px;
    padding: 12px 14px;
    font-size: 18px;
  }

  .temptoday {
    font-size: 32px;      
    margin-top: 4px;
  }

  .footeroftheday {
    margin-top: 6px;
  }

  .highandlow {
    flex-direction: column;
    gap: 4px;
    margin-top: -10px;
  }
}