.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  min-height: 60px;
  /* padding: 10px; */
  width: 97%;
  /* flex-wrap: wrap; */
  margin-left: 10px;
}

.greeting {
  /* flex: 1 1 200px; */
  /* width: 90vw; */
  height: 50px;
  background-color: var(--card);
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 0 14px;
  white-space: nowrap;
}
.search-toggle{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* width: 100%; */
  gap: 13%;
}
@media (max-width: 755px) {
.head{
  gap: 10px;
  flex-direction: column;
    align-items: stretch;
    margin-left: -4px;
}

  .greeting {
    justify-content: center;
    font-size: 16px;
    margin-left: 20px;
  }
.search-toggle{
  justify-content: space-between;
}
}
@media(max-width:365px){
  .search-toggle{
    gap: 8%;
  }
}
 @media (min-width: 765px) and (max-width: 1026px) {
  .head{
    width: 85%;
  }
 }
 @media (min-width: 1300px){
  .head{
    width: 50%;
  }
 }