.weathercylinder{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
   
}
/* .todayweek{
    display: flex;
    position: relative;
} */
.todays{
    position: absolute;
    top: 120px;
    left: 15px;
    /* writing-mode: vertical-rl; */
    /* text-orientation: upright; */
    /* letter-spacing: 0; */
    transform: rotate(-90deg);
    transform-origin:left top;
    white-space: nowrap;
}
/* .todays h1{
    display: inline-block;
    transform: scaleX(-1);
    font-size: 1rem;
} */
.hour{
    width: 450px;
    height: 214px;
    background-color: var(--card);
    /* margin-top: 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 13px;
    border-radius: 15px;
    position: relative;
}
.tomorrow{
    display: flex;
    justify-content: space-between;
    background-color: var(--accent);
    padding: 10px 20px;
    border-radius: 15px; 
}
.tomorrow p{
    font-size: 13px;
}
.tomorrow h2{
    font-size: 2rem;
}
@media(max-width:750px){
        .hour{
        width: 100%;
         padding: 10px 10px;
         font-size: 19px;
           height: 200px;
    }
    .todays{
        left: 0;
    }
    .todays h3{
      font-size: 1.1rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

  .weathercylinder {
    gap: 12px;
  }

  .hour {
    width: 100%;
    height: 200px;
    padding: 14px;
    gap: 10px;
  }

  .todays {
    top: 110px;
    left: -3px;
    font-size: 0.8rem;
  }

  .tomorrow {
    padding: 8px 16px;
  }

  .tomorrow h2 {
    font-size: 1.7rem;
  }

  .tomorrow p {
    font-size: 12px;
  }
}