:root {
  --bg: #fff7e8;
  --card: #ffd8a8;
  --text: #3e2c00;
  --accent: #f5a42c;
  --accent-light: #fdecd3; 
  --error: #b30000;
}
body.dark {
  --bg: #0c0a1a;
  --card: #2b254a;
  --text: #e6e6fa;
  --accent: #a58fe3be;
  --accent-light: #ededff; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.auth-container{
display: flex;
  justify-content: center;
 
}
.themechanger{
  /* margin-left: 20%; */
  margin-top: 5%;
}
body {
  background: var(--bg);
}
.error {
  color: #ff4d4f;       
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 3px;
}
.auth-session{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  background: var(--card);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  text-align: center;
}
.switch a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}
.auth-card h1 {
  color: var(--text);
  margin-bottom: 8px;
  font-size: 2rem;
  font-weight: 700;
}

/* .tag {
  font-size: 0.9rem;
  color: var(--text);
  opacity: 0.7;
  margin-bottom: 25px;
} */

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: var(--text);
  margin-top: 10px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  background: var( --accent-light);
  font-size: 1rem;
  outline: none;
  transition: 0.2s ease;
}



.btn-primary {
  width: 100%;
  padding: 9px;
  background: var(--accent);
  border: none;
  border-radius: 12px;
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-primary:hover {
  background: var(--accent-dark);
}

.switch {
  margin-top: 15px;
  font-size: 0.95rem;
  color: var(--text);
}

.switch span {
  margin-left: 4px;
  color: var(--accent-dark);
  font-weight: 600;
  cursor: pointer;
}



@media (max-width: 480px) {
  .auth-card {
    padding: 22px;
  }

  .auth-card h1 {
    font-size: 1.7rem;
  }

  .input-group input {
    padding: 12px;
  }
}
