.cities{
    display: flex;
    justify-content: space-evenly;
}
.tempofcities{
    background-color: var(--card);
    padding: 13px 10px;
   
    margin-top:11px;
    border-radius: 15px;
    
}
.city p{
    font-size: 13px;
}
.city{
    background-color: var(--accent);
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}