/* .theme img{
    width: 70px;
    object-fit: fill;
   
    border-radius: 50%;
    cursor: pointer;
} */
.theme{
   width: 60px;
  height: 60px;
  background-color: var(--card);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;

}
.slider-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: transform 0.5s ease-in-out;
 
}

.slider-image.slide {
   transform: translateX(0) rotate(360deg); /* move to the right */
}
