:root {
  --bg: #FFF7E8;
  --card: #FFD8A8;
  --text: #3E2C00;
  --accent: #f5a42c;
}

/* Light Theme */
body.light {
  --bg: #FFF7E8;
  --card: #FFD8A8;
  --text: #3E2C00;
  --accent: #ee8f00b4;
}

/* Dark Theme */
body.dark {
  --bg: #0C0A1A;
  --card: #2B254A;
  --text: #E6E6FA;
  --accent: #a58fe3be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  position: static;
}
.main{
  width: 80%;
  color: var(--text);
  /* border: 2px solid red; */
  position: relative;
  height: 80%;
  /* overflow: hidden; */

}
.positon-nav{
  height: 100%;
  position: absolute;
 
}
.main-section{
  margin-left: 100px;
  margin-top: -5px;
  width: 85%;
  /* padding: 10px; */
  position: relative;
  top: 0;
   /* border: 2px solid red; */
}
.main-main-section{
  margin-top: -5px;
  padding: 20px 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.fade {
  transition: opacity .3s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}